/* General styling */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Satoshi', sans-serif;
  font-weight: 500;
  letter-spacing: -0.5px;
}


h1 {
  font-size: 4.375rem;
}

h2 {
  font-size: 3.313rem;
}

p {
  font-size: 1.375rem;
}


/* For the links styling */

a {
  color: inherit; 
  text-decoration: none;
  position: relative;
}

/* Link animation (navbar) */

a:hover {
  color: #000;
}

.navbar-menu a::before, .footer-menu a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

a:hover::before {
  transform: scaleX(1);
}


/* For the mesh gradient effect */

/* .gradient-wrap {
  overflow: hidden;
  width: 100%;
  height:100vh;
  position: relative;
}
.meshgradient>.color {
  width: 100%;
  height:100%;
  position: absolute;
    display: flex;
  align-items: center;
  transform: scale(3) rotate(0deg);
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin: auto;
  background-repeat: no-repeat;
  mix-blend-mode: overlay;
}

.c1 {
  background: radial-gradient(#ec8123 25%, transparent 50%);
  background-size: 60% 80%;
   background-position: 0 0;
  animation: c1 8s infinite linear;
}
.c2 {
  background:  radial-gradient(#4f8c83 25%, transparent 50%);
  background-size: 70% 80%;
   background-position: 0 100%;
  animation: c2 10s infinite linear;
}

.c3 {
  background:   radial-gradient(#4f8c83 25%, transparent 50%);
    background-size: 80% 80%;
   background-position: 50% 0;
    animation: c3 5s infinite linear;
}
.c4 {
  background:    radial-gradient(#efbdc8 25%, transparent 50%);
  background-size: 80% 80%;
   background-position: 50% 100%;
   animation: c4 6s infinite linear;
}
@keyframes c1 {
  50%{ 
  background-size: 80% 80%;
   background-position: 50% 100%;
    transform: scale(3) rotate(-75deg);
  }
}

@keyframes c2 {
  50%{ 
    background-size: 80% 80%;
   background-position: 50% 0;
    transform: scale(3) rotate(90deg);
  }
}
@keyframes c3 {
  50%{ 
  background-size: 70% 80%;
   background-position: 0 100%;
   transform: scale(3) rotate(8deg);
  }
}

@keyframes c4 {
  50%{ 
   background-position: 0 0;
  animation: c1 10s infinite;
    transform: scale(3) rotate(-36deg);
  }
}  */


/* Navbar styling */

.navbar {
  padding: 10px 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky; top: 0;
  mix-blend-mode: difference;
}

.navbar-menu {
  display: flex;
  flex-direction: row;
}

/* .navbar p {
  color:rgb(255, 255, 255)
} */


/* Homepage styling */

.homepage-text {
  padding: 150px 350px 10px 70px;
  position: relative;
}


.homepage-contact {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}


.arrow {
  height: 28px;
  margin-right: 10px;
}

.contactme {
  margin-top: 0;
  cursor: pointer;
  font-size: 1.375rem;

}


/* Work part styling */
  
  .work-title {
    padding: 10px 70px;
}

.project-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 0;
  overflow-x: auto;
  padding: 20px 0px;
}


.project {
  width: 443px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.project-image {
  width: 100%;
  object-fit: cover;
}


/* About part styling */

.about {
  padding: 100px 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

.about-text-1 p {
  font-size: 1.875rem;
}

.about-text-2 {
  margin-left: 50px;
}


/* Contact part styling */

.contact {
  padding: 10px 70px;
  min-height: 100%;
}

.contact-work {
  padding-bottom: 50px;
}

.emailaddress {
  font-size: 7.75rem;
  word-wrap: break-word;
}

/* Footer menu */

.footer-menu {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}